<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>wine cellar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>876B5C8520AE7A520065817F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>876B5C9920AE7A530065817F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>876B5CA420AE7A530065817F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
